body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.max-width-960 {
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	box-sizing: border-box;
}

mars-plugin ng-include {
	width: 100%;
	max-width: 960px;
	margin: 0px auto;
	box-sizing: border-box;
}

md-whiteframe[md-ink-ripple] {
  position: relative;
}

.text-select-disabled {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

md-toolbar .beta {
  margin: 0px 0px 8px 5px; 
  font-size: 0.5em;
}

md-toolbar .heading {
	white-space: nowrap;
	text-overflow: ellipsis;
	word-wrap: break-word;
	overflow: hidden;
}

md-toolbar .heading > h2 {
	display: inline;
}
/**
 * Note: this is super hacky and only a temp fix for iOS bug.
 * 190px = 40px x 4 icons + 30px padding.
 * TODO: create general rule for any number of icons.
 */
.icons-4 {
	max-width: calc(100% - 190px)
}

/**
 * Missing in version 1.0.1 of angular-material
 * Remove this once angular-material has been upgraded
 */
md-dialog md-dialog-content .md-prompt-input-container {
  width: 100%;
  box-sizing: border-box;
}