md-card, .as-sortable-placeholder {
	margin-bottom: 28px;
}

md-card:first-child {
	margin-top: 28px;
}

.drag-handle {
	cursor: move;
}

.as-sortable-placeholder {
	box-sizing: border-box;
	background-color: #eee;
	border: 3px dashed #ddd;
}

.background-message {
	color: #999;
	width: 100%;
	margin-top: 28px;
	text-align: center;
}
md-card .background-message {
	font-style: italic;
	width: inherit;
	margin-top: 0;
	text-align: left;
}

.md-dialog-content h4 {
	margin-bottom: 0;
}

.md-dialog-content md-list md-list-item {
	padding-left: 0;
}

md-grid-tile-footer figcaption  {
    width:100%;
}

.md-actions div.progress-wrapper {
	width: 20px;
	height: 20px;
	margin: 16px;
}
.md-actions div.progress-wrapper md-progress-circular {
	margin-left: -40px;
	margin-top: -40px;
}

.action-progress {
	color: #999;
	font-size: 14px;
	font-weight: 500;
	line-height: 36px;
	padding: 0 6px;
}
.action-progress md-progress-circular {
	margin: 0 8px;
}
mars-action-progress.shell {
	margin-top: 28px;
}

md-toolbar md-input-container .md-errors-spacer {
	display: none;
}

span.highlight {
	background: #BBDEFB;
}
md-toolbar span.highlight {
	background: rgba(255, 255, 255, 0.4);
}

span.title-number {
	padding-right: 1em;
}

.group .md-list-item-inner {
	width: 100%;
	/*padding-right: 56px;*/
	box-sizing: border-box;
}
.group .md-list-item-inner p {
	overflow: hidden;
	text-overflow: ellipsis;
}

.edit-collection .icon-autocomplete md-icon {
	margin-top: 24px;
	padding-right: 32px;
}
.edit-collection .icon-autocomplete md-autocomplete {
	padding-right: 40px;
}
.edit-collection .icon-autocomplete md-autocomplete md-input-container {
	margin-bottom: 0;
}
.edit-collection .icon-autocomplete md-autocomplete md-input-container .md-errors-spacer {
	display: none;
}

.edit-poll:first-child {
	margin-top: 28px;
}
.edit-poll .tools .md-title, .edit-poll .tools h3 {
	margin: 1em 14px;
}
.edit-poll md-divider {
	margin-top: 28px;
}

.getting-started {
	padding: 16px 32px;
}
.getting-started h3 {
	margin-top: 2em;
}

.leaderboard table.md-table td.md-cell {
	font-size: inherit;
}

/*.export-results h3 {
	margin-top: 2em;
}*/

.export-results .select-all {
	margin-top: 1.33em;
	margin-bottom: 0;
}
.export-results .select-all md-checkbox,
.update-leaderboard .select-all md-checkbox {
	margin-left: 40px;
	margin-right: 20px;
}
.export-results .select-all md-checkbox .md-container,
.update-leaderboard .select-all md-checkbox .md-container {
	left: auto;
	right: 0;
}
.export-results .select-all md-checkbox .md-label,
.update-leaderboard .select-all md-checkbox .md-label {
	margin-left: 0;
	margin-right: 30px;
}

.export-results section > h3,
.update-leaderboard section > h3 {
	margin: 0;
	padding: 8px;
	color: white;
	font-size: 20px;
	font-weight: normal;
}

.export-results .md-list-item-inner,
.update-leaderboard .md-list-item-inner {
	width: 100%;
	padding-right: 56px;
	box-sizing: border-box;
}
.export-results .md-list-item-inner p,
.update-leaderboard .md-list-item-inner p {
	overflow: hidden;
	text-overflow: ellipsis;
}

.poll-question {
	white-space: pre-wrap;
	line-height: initial; 
}

/* Material uses line-height to get list item spacing,
   which we have just clobbered. */
md-list-item .poll-question {
	padding-top: 8px;
	padding-bottom: 8px;
}