# Node/Bower Generated Folders
node_modules
/client/assets/bower_components
npm-debug.log

# Mongodb data folder
/data

# Mac Specific Files
.DS_Store

# Get rid of Sublime settings
*.sublime-workspace
