
<div class="tools" layout="row" layout-align="start center">
  <span flex></span>
  <md-button class="md-icon-button" 
              aria-label="Update leaderboard"
              ng-click="vm.updateLeaderboard()"
              ng-disabled="false">
    <md-tooltip>
      Update
    </md-tooltip>
    <md-icon class="material-icons">refresh</md-icon>
  </md-button>
  <md-button class="md-icon-button" 
              aria-label="Select polls for leaderboard"
              ng-click="vm.showSelectPollsDialog()"
              ng-disabled="false">
    <md-tooltip>
      Select polls for leaderboard
    </md-tooltip>
    <md-icon class="material-icons">poll</md-icon>
  </md-button>
</div>

<md-card class="leaderboard">  
  <md-card-content>
    <md-table-container>
      <table md-table md-progress="vm.updateLeaderboardPromise">
        <thead md-head>
          <tr md-row>
            <th md-column><span>Name</span></th>
            <th md-column md-numeric><span>Score</span></th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row ng-repeat="row in vm.leaderboard | orderBy: ['-score', 'user']">
            <td md-cell>{{ row.user }}</td>
            <td md-cell>{{ row.score }}</td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </md-card-content>
  
</md-card>