<div layout="column" 
     layout-fill 
     layout-align="center center" 
     class="background-message"
     ng-show="vm.groups.length == 0" >
  <div>It's looking pretty empty in here</div>
  <div>Try clicking the plus icon to add a group</div>
</div>

<div ng-repeat="group in vm.filteredGroups" 
     mars-scroll-to="group-{{$index}}"
     mars-scroll-trigger="group._scrollTo">
  <a id="group-{{$index}}"></a>
  <md-card>
  
    <md-toolbar class="bg-{{group.color}}">
      <div class="md-toolbar-tools">
        <h2 class="md-title" 
            md-highlight-flags="i"
            md-highlight-text="vm.shell.search.phrase">
          {{ group.collection.name }} - {{ group.name }}
        </h2>
        <span flex></span>
        <md-button aria-label="Reorder: move up"
                   class="md-icon-button" 
                   ng-disabled="$first"
                   ng-hide="vm.shell.search.show"
                   ng-click="vm.reorderGroup($index, $index - 1)">
          <md-tooltip>
            Move up
          </md-tooltip>
          <md-icon md-menu-origin class="material-icons">arrow_upward</md-icon>
        </md-button>
        <md-button aria-label="Reorder: move down"
                   class="md-icon-button" 
                   ng-disabled="$last"
                   ng-hide="vm.shell.search.show"
                   ng-click="vm.reorderGroup($index, $index + 1)">
          <md-tooltip>
            Move down
          </md-tooltip>
          <md-icon md-menu-origin class="material-icons">arrow_downward</md-icon>
        </md-button>
        <md-button aria-label="{{ vm.isUpcoming(group) ? 'Mark as done' : 'Mark as upcoming' }}"
                   class="md-icon-button" 
                   ng-click="vm.toggleUpcoming(group)">
          <md-tooltip>
            {{ vm.isUpcoming(group) ? 'Mark as done' : 'Mark as upcoming' }}
          </md-tooltip>
          <md-icon md-menu-origin class="material-icons"> {{ vm.isUpcoming(group) ? 'done' : 'autorenew' }} </md-icon>
        </md-button>
        <md-menu md-position-mode="target-right target">
          <!-- Trigger element is a md-button with an icon -->
          <md-button aria-label="Open collection menu"
                     class="md-icon-button" 
                     ng-click="$mdOpenMenu()">
            <md-icon md-menu-origin class="material-icons">more_vert</md-icon>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item>
              <md-button ng-click="">
                <md-icon md-menu-align-target class="material-icons">timeline</md-icon>
                Analytics (TODO)
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.exportResults(group)">
                <md-icon md-menu-align-target class="material-icons">file_download</md-icon>
                Export Results
              </md-button>
            </md-menu-item>
            <!-- <md-menu-item><md-button ng-click="">Copy (TODO)</md-button></md-menu-item> -->
            <md-divider />
            <md-menu-item>
              <md-button ng-click="vm.editGroup(group)">
                <md-icon md-menu-align-target class="material-icons">edit</md-icon>
                Edit Group
              </md-button>
            </md-menu-item>
            <md-menu-item>
              <md-button ng-click="vm.deleteGroup(group)">
                <md-icon md-menu-align-target class="material-icons">delete</md-icon>
                Delete Group
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>
    
    <md-list>
      <md-list-item ng-class="{ 'background-message': !poll.name }"
                    ng-click="vm.activatePoll(poll)"
                    ng-repeat="poll in shownPolls = (group.polls | filter:{deleted:'!'})" >
        <p md-highlight-flags="i"
           md-highlight-text="vm.shell.search.phrase">
          {{ poll.name || '[Unamed poll]' }}
        </p>
      </md-list-item>
      <md-list-item class="background-message"
                    ng-show="shownPolls.length === 0">
        <p>There are no polls in this group</p>
      </md-list-item>
    </md-list>
    
    <div class="md-actions" layout="row" layout-align="end center">
      <div ng-show="!group._id" layout="row" layout-align="end center">
        <div>Saving</div>
        <div class="progress-wrapper">
          <md-progress-circular md-mode="indeterminate" 
                                md-diameter="20px">
          </md-progress-circular>
        </div>
      </div>
      <md-button class="md-primary"
                 ng-show="group._id" 
                 ng-click="vm.editPolls(group, shownPolls.length === 0)">
        {{shownPolls.length > 0 ? 'Edit Polls' : 'Create Polls'}}
      </md-button>
    </div>
    
  </md-card>
  
</div>

<div layout="column" layout-align="center center">
  <md-button aria-label="New Group"
             style="color: rgba(0,0,0,0.54);"
             ng-click="vm.addGroup()"
             ng-hide="vm.shell.search.show">
    <md-icon class="material-icons">add</md-icon>
    New Group
  </md-button> 
</div> 