<div layout="column" 
     layout-fill 
     layout-align="center center" 
     class="background-message"
     ng-show="vm.groups.length == 0" >
  <div>It's looking pretty empty in here</div>
  <div>Try clicking the plus icon to add a group</div>
</div>

<div class="group"
     ng-repeat="group in vm.filteredGroups" 
     mars-scroll-to="group-{{$index}}"
     mars-scroll-trigger="group._scrollTo">
  <a id="group-{{$index}}"></a>
  <md-card>
  
    <md-toolbar class="bg-{{group.color}}">
      <div class="md-toolbar-tools">
        <h2 class="md-title" 
            md-highlight-flags="i"
            md-highlight-text="vm.shell.search.phrase"
            ng-click="vm.editGroup(group)">
          {{ group.name }}
        </h2>
        <span flex></span>
        <md-button aria-label="{{ vm.isUpcoming(group) ? 'Mark as done' : 'Mark as upcoming' }}"
                   class="md-icon-button" 
                   ng-click="vm.toggleUpcoming(group)">
          <md-tooltip>
            {{ vm.isUpcoming(group) ? 'Mark as done' : 'Mark as upcoming' }}
          </md-tooltip>
          <md-icon md-menu-origin class="material-icons"> {{ vm.isUpcoming(group) ? 'done' : 'autorenew' }} </md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-list>
      <md-list-item ng-class="{ 'background-message': !poll.name }"
                    ng-click="vm.viewResult(poll)"
                    ng-repeat="poll in shownPolls = (group.polls | filter:{deleted:'!'})" >
        <p md-highlight-flags="i"
           md-highlight-text="vm.shell.search.phrase">
          {{ poll.name || '[Unamed poll]' }}
        </p>
      </md-list-item>
      <md-list-item class="background-message" ng-click="vm.editPolls(group, true)">
        <p>+ New Poll</p>
      </md-list-item>
    </md-list>
  
    <md-card-actions layout="row" layout-align="start center">
      <md-button class="md-icon-button" aria-label="Reorder: Move Up" ng-click="vm.reorderGroup($index, $index - 1)" ng-disabled="$first" ng-hide="vm.shell.search.show">
        <md-icon class="material-icons">arrow_upward</md-icon>
        <md-tooltip>Move Up</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Reorder: Move Down" ng-click="vm.reorderGroup($index, $index + 1)" ng-disabled="$last" ng-hide="vm.shell.search.show">
        <md-icon class="material-icons">arrow_downward</md-icon>
        <md-tooltip>Move Down</md-tooltip>
      </md-button>
      <md-button class="md-icon-button" aria-label="Delete Group" ng-click="vm.deleteGroup(group)">
        <md-icon class="material-icons">delete</md-icon>
        <md-tooltip>Delete Group</md-tooltip>
      </md-button> 
      <md-button class="md-icon-button" aria-label="Export Results" ng-click="vm.exportResults(group)">
        <md-icon class="material-icons">file_download</md-icon>
        <md-tooltip>Export Results</md-tooltip>
      </md-button>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Edit Polls" ng-click="vm.editPolls(group, shownPolls.length === 0)">
        <md-icon class="material-icons">edit</md-icon>
        <md-tooltip>Edit Polls</md-tooltip>
      </md-button>
    </md-card-actions>
      
    <div class="md-actions" layout="row" layout-align="end center">
      <div ng-show="!group._id" layout="row" layout-align="end center">
        <div>Saving</div>
        <div class="progress-wrapper">
          <md-progress-circular md-mode="indeterminate" 
                                md-diameter="20px">
          </md-progress-circular>
        </div>
      </div>
    </div>
    
  </md-card>
  
</div>

<div layout="column" layout-align="center center">
  <md-button aria-label="New Group"
             style="color: rgba(0,0,0,0.54);"
             ng-click="vm.addGroup()"
             ng-hide="vm.shell.search.show">
    <md-icon class="material-icons">add</md-icon>
    New Group
  </md-button> 
</div> 