<md-dialog aria-label="My feeds" 
           class="my-feeds" 
           ng-cloak>
  <form name="myFeedsForm">
    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>My Feeds</h2>
        <p ng-hide="vm.action || vm.subscriptions.length > 0">You have not joined any feeds.</p>
        <md-list ng-show="vm.subscriptions.length > 0">
          <md-list-item ng-repeat="subscription in vm.subscriptions">
            <p style="margin-right: 40px;">{{ subscription.name }}</p>
            <md-icon aria-label="Remove Feed: {{subscription.name}}"
                     class="md-icon-button md-secondary"
                     ng-click="vm.unsubscribe(subscription)">
              clear
              <md-tooltip>Remove Feed</md-tooltip>
            </md-icon>
          </md-list-item>
        </md-list>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" layout-align="end center">
      <mars-action-progress action="vm.action">
        <md-button type="submit"
                   ng-click="vm.close()"
                   ng-disabled="myFeedsForm.$invalid">
          Done
        </md-button>
      </mars-action-progress>
    </md-dialog-actions>
  </form>
</md-dialog>