<div flex layout="column">

  <md-toolbar class="md-whiteframe-1dp" 
              ng-class="{ 'bg-blue-grey': vm.isPreview }">
    <div class="md-toolbar-tools">
      <h2>
        <span>{{vm.poll ? vm.poll.pollCollection.name : 'Mars'}}</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" 
                 aria-label="Join Feed" 
                 ng-hide="vm.isPreview"
                 ng-click="vm.showSubscribeDialog($event)">
        <md-tooltip>Join feed</md-tooltip>
        <md-icon class="material-icons"> add </md-icon>
      </md-button>

      <md-button class="md-icon-button" 
                 aria-label="Close preview"
                 ng-show="vm.isPreview"
                 ng-click="vm.closePreview()">
        <md-tooltip>Close preview</md-tooltip>
        <md-icon class="material-icons">visibility_off</md-icon>
      </md-button>
      
      <md-menu md-position-mode="target-right target" >
        <md-button class="md-icon-button" 
                   aria-label="Account"
                   ng-click="$mdOpenMenu($event)">
          <md-icon class="material-icons"> account_circle </md-icon>
        </md-button>
        <md-menu-content width="3" >
          <!-- <md-menu-item ng-show="vm.isPreview">
            <md-button ng-click="vm.closePreview()">
              My Polls
            </md-button>
          </md-menu-item> -->
          <!-- <md-menu-divider></md-menu-divider> -->
          <md-menu-item>
            <md-button ng-click="vm.logout()">
              Sign out
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </div>
  </md-toolbar>

  <!-- Polls go here -->
  <md-content flex layout-padding class="md-hue-1">
    <div ui-view class="max-width-960"></div>
  </md-content>

  <!-- Button to change polls (if more than 1 exists) -->
  <md-button class="md-fab md-fab-bottom-right" 
             aria-label="Switch Questions"
             ng-show="vm.multiplePollsActive"
             ng-click="vm.nextPoll()">
    <md-icon class="material-icons"> queue </md-icon>
  </md-button>

</div>
